.navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  /* height: 2rem; */
  position: fixed;
  top: 1rem;
  margin: auto;
  width: 90%;
  transition: background-color 0.3s;
  background-color: transparent;
  background-size: contain;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar.scrolled {
  /* background-color: black; */
  background-image: radial-gradient(
    ellipse at top left,
    rgba(0, 0, 0, 0.618),
    rgba(35, 143, 252, 0.604)
  );
}
