.button {
  font: inherit;
  cursor: pointer;
  background-color: rgba(90, 90, 90, 0.75);
  border: 1px rgba(90, 90, 90, 0.75);
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}

.button:hover,
.button:active {
  background-color: #dee2e6;
  border-color: #dee2e6;
  color: #1f1a09;
}

.text-button {
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #f03e3e;
}

.text-button:hover,
.text-button:active {
  color: #ffc9c9;
}

.find-icon {
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #dbdbdb;
}

.find-icon:hover,
.find-icon:active {
  color: #ffec99;
}
